* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url(images/patt.png);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  align-items: center;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-8 {
  flex: 0 0 66.66666%;
  max-width: 66.66666%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.header {
  height: 100px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
}

.menu {
  display: flex;
}

.menu li {
  width: 25%;
  border-left: 1px solid #2c71b8;
}

.menu li:last-child {
  border-right: 1px solid #2c71b8;
}

.menu a {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #2c71b8;
  font-size: 21px;
}

.menu a:hover {
  background-color: #2c71b8;
  color: white;
}

.dropdown-icon {
  font-size: 10px;
  vertical-align: middle;
}

.search-form {
  width: 200px;
  height: 40px;
  border: 1px solid #2c71b8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input:focus {
  outline: none;
}

.search-button {
  background-color: #2c71b8;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 5px;
}

.search-field {
  width: 160px;
  height: 38px;
  background: transparent;
  border: none;
  color: #2c71b8;
  line-height: 38px;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 300;
  padding-left: 10px;
}

.search-field::placeholder {
  color: #2c71b8;
  opacity: 1;
}

.shopping-cart {
  position: relative;
}

.cart-button {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
}

.cart-counter {
  background-color: #2c71b8;
  color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  left: -10px;
  text-align: center;
  line-height: 20px;
}

.search-section {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content li {
  width: 200%;
  font-size: 21px;
}

.dropdown-content a {
  text-align: left;
  background-color: #2c71b8;
  color: white;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-link {
  background-color: #2c71b8;
  color: white;
}

.dropdown-content a:hover {
  background-color: white;
  color: #2c71b8;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: auto;
}

.heading-sorting {
  display: flex;
  flex-direction: row;
}

.devices-container {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.carousel {
  height: 400px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid white;
  font-family: "Roboto", sans-serif;
  color: white;
}

.carousel-text {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  line-height: 399px;
}

.filter-menu {
  background-color: rgba(255, 255, 255, 0.25);
  height: 865px;
  padding: 30px;
  font-family: "Roboto",
    sans-serif;
  font-size: 21px;
  color: white;
}

input[type="checkbox"] {
  display: none;
}

label::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid white;
  cursor: pointer;
  display: inline-block;
  margin: auto 10px;
}

input[type="checkbox"]:checked+label::before {
  background-color: white;
}

.filter-heading {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 65px;
}

.first-filter-heading {
  margin-top: 0;
}

.filter-menu li {
  margin: 20px 0;
}

.filter-menu p {
  text-align: center;
  margin: 25px auto;
}

.device {
  border: 1px solid white;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

.device-image {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  height: 180px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-image {
  align-self: center;
  margin: auto;
}

.side-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 225px;
  top: 10px;
}

.side-image div {
  border: 1px solid #2c71b8;
  padding: 3px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.like {
  background-image: url(images/wishlist-blue.png);
}

.like:hover,
.liked {
  background-image: url(images/wishlist-white.png);
  background-color: #2c71b8;
}

.zoom {
  background-image: url(images/zoom.png);
}

.zoom:hover {
  background-image: url(images/zoom-white.png);
  background-color: #2c71b8;
}

.device-info {
  padding: 15px;
  line-height: normal;
  font-size: 21px;
}

.device-heading {
  font-weight: bold;
  font-size: 30px;
  margin: -5px 0 0;
}

.description {
  margin: 10px 0;
}

.characteristics li {
  margin-bottom: 10px;
}

.characteristics span {
  font-weight: bold;
  text-transform: uppercase;
}

.device-info .price {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}

.price span {
  vertical-align: super;
  font-size: 30px;
}

.btn {
  width: 210px;
  height: 50px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  display: block;

  border: 1px solid white;
  background: #2c71b8;
  margin: 15px auto;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border: none;

}

.nav-menu {
  margin: 25px 0 20px;
}

.nav-menu p,
.nav-menu a {
  display: inline;
  font-size: 14px;
  color: #96b8dc;
  text-decoration: none;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.page-heading {
  font-size: 48px;
  font-weight: bold;
  color: white;
  padding: 0;
  margin-bottom: 40px;
}

.sorting-block {
  padding-right: 0;
  z-index: 100;
}

.sorting-header,
.sorting-content li {
  height: 40px;
  background-color: #2c71b8;
  color: white;
  font-size: 21px;
  line-height: 38px;
  border: 1px solid white;
  padding: 0 15px;
}

.sorting-header {
  margin-left: 4px;
  position: relative;
}

.flex-helper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-content {
  display: none;
  position: absolute;
  width: calc(100% + 2px);
  overflow: visible;
  left: -1px;
}

.sorting-content li:hover {
  background-color: white;
  color: #2c71b8;
}

.sorting-header:hover .sorting-content {
  display: block;
}

.load-more {
  font-size: 38px;
  text-align: center;
  margin: 45px auto;
}

.load-more a {
  text-decoration: none;
  color: white;
}

.footer {
  height: 100px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 21px;
  justify-content: center;
  align-items: center;
  color: #2c71b8;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-block {
  width: 300px;
  height: 250px;
  background-color: white;
  padding: 15px;
  margin: 100px auto;
}

.form-call {
  position: relative;
  padding-top: 30px;
  text-align: center;
}

.form-call h3 {
  margin-bottom: 15px;
}

.form-field {
  margin-bottom: 15px;
}

.btn-close {
  position: absolute;
  right: 10px;
  top: 0px;
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}